<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="redbusSuite">
    <parameter name="browser" value="ff"></parameter>
        <test name="Test">
         
            <classes>
           
				<class name="com.sequretek.suitbase.SuitBase"></class>
				<class name="com.sequretek.steps.HomeSteps"></class>
				</classes>
		</test> <!-- Test -->
</suite> <!-- Suite -->
